[unstable]
build-std = ["core", "compiler_builtins", "alloc"]
build-std-features = ["compiler-builtins-mem"]

[build]
# opt-level = 最適化のレベル　0だと--debug, 3だと--releaseと見て良い 最適化されるとallocatorなどが使用されない
# rustflags = ["-C", "opt-level=0"]
target = "x86_64-blog_os.json"


[target.'cfg(target_os = "none")']
runner = "bootimage runner"

